body {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: White;
    color: Black;
    margin: 0;
    padding: 0;
}
#visual-portal-wrapper { width: 960px; margin: 0 auto; }

table {
    font-size: 100%;
}
a {
    color: #436976;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0 0 0.75em 0;
    line-height: 1.5em;
}
p img {
    border: none;
    margin: 0;
}
hr {
    border: 0;
    height: 1px;
    color: #8cacbb;
    background-color: #8cacbb;
    margin: 0.5em 0 1em 0;
}
h1, h2, h3, h4, h5, h6 {
    color: Black;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin: 0.75em 0 0.25em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: Black;
    text-decoration: none;
}


h1 {
    font-size: 160%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
    border-bottom: none;
    font-weight: bold;
}
h4 {
    font-size: 110%;
    border-bottom: none;
    font-weight: bold;
}
h5 {
    font-size: 100%;
    border-bottom: none;
    font-weight: bold;
}
h6 {
    font-size: 90%;
    border-bottom: none;
    font-weight: bold;
}
ul {
    line-height: 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}
dt {
    font-weight: bold;
}
dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted Black;
    color: Black;
    background-color: transparent;
    cursor: help;
}
abbr .explain {
    border-bottom: none;
}
q {
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    font-size: 120%;
}
blockquote {
    padding-left: 0.5em;
    margin-left: 0;
    border-left: 4px solid #8cacbb;
    color: #76797c;
}
code, tt {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 120%;
    color: Black;
    background-color: #dee7ec;
    padding: 0 0.1em;
}
pre {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 100%;
    padding: 1em;
    border: 1px solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    overflow: auto;
}
ins {
    color: green;
    text-decoration: none;
}
del {
    color: red;
    text-decoration: line-through;
}

.documentByLine,
.hiddenStructure,
#portal-logo img{display:none}

* :link,:visited { text-decoration:none }
.documentFirstHeading .internal-link:hover{color:#444}
ul,ol{list-style-position:inside}

#portal-header h1{font-size:200%;margin:0}

#portal-searchbox{text-align:right;float:right}
#portal-top{padding:10px 0;border-bottom:1px solid #bbb}

/* The global section tabs. */
#portal-globalnav {
    background-color: transparent;
    white-space: nowrap;
    list-style: none;
    margin: 2em 0 1em 0;
    padding: 0 0 0 2em;
    line-height: normal;
    border-bottom:1px solid #bbb;
    height:18px;
    clear:both;
}
#portal-globalnav li {
    display: inline;
}
#portal-globalnav li a {
    /* The normal, unselected tabs. They are all links */
    background-color: transparent;
    border-color: #bbb;
    height: auto;
    padding: 2px 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:13px;
    border-bottom:0;
}

#portal-globalnav li.selected a {
    background-color:#bbb;
    color: #fff;
}

#portal-globalnav li a:hover {
    background-color:#D3D3D3;
    color: #fff;
}


.documentActions {
    margin: 1em 0;
    padding: 0;
    text-align: right;
}
.documentActions ul {
    margin: 0;
    padding: 0 0.5em;
    display: block;
    margin-top: -0.9em;
    list-style-type: none;
    list-style-image: none;
}
.documentActions li {
    display: inline;
    margin: 0 0.5em;
    padding: 0 0.25em;
}
.documentActions a {
    border: none !important;
    text-decoration: none;
}

#offline-box{
    border-top:2px dashed #bbb;
    padding:1em 0;
    margin:1em 0 3em 0;
    display:block;
    width:100%;
}
#offline-box p{margin-bottom:2em;}
.button{
 font-size:15px;
 padding: 5px 10px;
 color: #222;
 text-decoration: none;
 font-weight: bold;
 line-height: 1;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 0 1px 3px #999;
 -webkit-box-shadow: 0 1px 3px #999;
 text-shadow: 0 -1px 1px #eee;
 position: relative;
 cursor: pointer;
 display:inline;
 margin:1em 0 0 400px;
}
a.button{color:#436976}
.button a:hover,a.button:hover {
 color:#00556f;
}

#onlineStatus-container{border-top:1px dashed #999;text-align:right;height:20px;
padding-top:5px;color:#7B7B7B}

/* Kupu image alignment classes */
.image-left {
   float: left;
   clear: both;
   margin: 0.5em 1em 0.5em 0;
   border: 1px solid Black;
}
.image-inline {
   float: none;
}
.image-right {
   float: right;
   clear: both;
   margin: 0.5em;
   border: 1px solid Black;
}
dd.image-caption {
   text-align:left;
   padding: 0; margin:0;
}
dl.captioned {
   padding: 10px;
}

/*plone styles*/
.pullquote {
background-color:White;
border-left:4px solid #8CACBB;
clear:right;
color:#CC9933;
float:right;
font-weight:bold;
margin:0 0 1em 1em;
padding:0 1em;
width:35%;
}

pre {
background-color:#DEE7EC;
border:1px solid #8CACBB;
color:Black;
font-family:Monaco,"Courier New",Courier,monospace;
font-size:100%;
overflow:auto;
padding:1em;
}

.offlineStore,
.discreet  {
color:#76797C;
font-size:90%;
font-weight:normal;
}

.callout {
color:#CC9933;
font-weight:bold;
padding:0 1em;
}

.visualHighlight {
background-color:#FFFFCC;
}

.gotop-wrapper{clear:both;padding-bottom:5px;margin-bottom:5px;
border-bottom:1px dashed #bbb;text-align:right}
.gotop-wrapper a:hover{color:#00556f}

#pdf_container{height:40px;padding-top:20px}
#pdf_container .button{font-size: inherit;margin-left:0px}
#pdf_download{padding:5px 0 5px 30px;background:transparent url('download.png') no-repeat left center;outline:0 none}
/*pdf*/
#pdf-view{width:100%;font-family:Arial,sans-serif}
#pdf-view p{margin:0;padding:0}
#pdf-view .title{font-family:Georgia, serif}
#pdf-view-heading{text-align:center;border-bottom:3px solid #bebebe; padding-bottom:5pt;padding-top:10pt;font-size:15pt}
#pdf-view .pdf-par{color:#333333;}
#pdf-view .chapter .title{ padding-bottom:5pt;margin-top:30pt; }
#pdf-view .pdf-par .title{ padding-bottom:5pt;margin-top:1pt; }

#pdf-view p{background-color:transparent}
#pdf-view img{text-align:center;display:block;border:0}
